.fill {
	width: 100%;
}

.half {
	width: 50%;
}

.textbox {
	border: 1px solid #123456;
	padding: 5px;
	color: var(--text-secondary);
}

.textbox:hover {
	border-color: #456789;
}

.button {
	display: inline-block;
	padding: 5px 25px;
	background-color: var(--bg-secondary);
	color: var(--text-light);
	text-align: center;
}

.button:hover {
	background-color: #456789;
}

.textarea {
	border: 1px solid #123456;
}

.textarea:hover {
	border-color: #456789;
}

.label {
	display: inline-block;
	padding: 5px 0px;
}

.link {
	color: tomato;
}

.link:focus {
	color: #123456;
}

.form {
	position: relative;
}

.body {
	padding: 8px;
}

.control {
	position: relative;
	width: 100%;
	padding: 5px;
}

.control .textbox {
	width: 100%;
}
