nav {
	position: relative;
	background-color: #f5f5f5;
}

nav ul {
	position: relative;
	list-style-type: none;
	display: flex;
	padding: 8px;
}

nav ul li {
	position: relative;
	width: 100%;
	padding: 5px 0;
}

nav ul li:hover {
	background-color: #ffffff;
}

nav ul li .nav-img {
	display: block;
	width: 50px;
	height: 50px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}

.nav-img.camera {
	background-image: url('/assets/imgs/icons/camera.png');
}

.nav-img.signin {
	background-image: url('/assets/imgs/icons/signin.png');
}

.nav-img.signout {
	background-image: url('/assets/imgs/icons/signout.png');
}

.nav-img.signup {
	background-image: url('/assets/imgs/icons/signup.png');
}

.nav-img.gallery {
	background-image: url('/assets/imgs/icons/gallery.png');
}

.nav-img.profile {
	background-image: url('/assets/imgs/icons/profile.png');
}

footer.footer {
	padding: 10px 0;
	margin-top: 18px;
	bottom: 0;
	text-align: center;
	color: #333;
	background-color: #f5f5f5;
}